    a:hover{
        color: darkturquoise;
    }
    a:link{

        text-decoration:none;
        color:#BB0000;
        }

    #Toplist{
        width: 100%;
        height: 100px;
        background-color:black;
    }
    #leftlist{
        position: relative;
        float: left;
        padding: 10px 50px;
        color: blanchedalmond;
        font-family: fantasy;
        font-size: 40px;
    }
    #rightlist{
        position: relative;
        float: right;
        padding: 10px 100px 10px 40px;
        color: blanchedalmond;
        font-family: fantasy;
        font-size: 40px;
    }
    #firstview{
        width: 100%;
        height: 800px;
        background-image: url('backgroundimg1.jpg');
        background-repeat:no-repeat;
        background-size:cover;
    }
    #rightview{
        position: relative;
        float: right;
        font-size:23px;
        padding: 20px 100px 10px 40px;
        color: rgb(128, 1, 33);
        font-family: fantasy;
    }
    #firstviewworld{
        text-align: center;
        position: relative;
        float: left;
        color: rgb(14, 11, 8);
        top: 100px;
        padding: 40px 30px 40px 150px;
        font-family: fantasy;
        font-size: 80px;
    }
    #intro{
        width: 100%;
        height: 900px;
    }
    #introworld{
        text-align: center;
        font-size: 40px;
        padding: 50px 10px ;
        color: black;
    }
    #leftintro{
        width: 30%;
        float: left;
        position: relative;
        top: 140px;
        padding: 50px 10px 150px 150px;
    }
    #leftintroimg{
        
        border-radius:50%; 
    }
    #rightintro{
        width: 70%;
        float: right;
        position: relative;
        font-size: 30px;
        text-align: center;
        padding: 200px 400px 200px 250px;
    }
    #like{
        width: 100%;
        height: 900px;
    }
    #likeside{
        float: left;
        width: 15%;
        height: 800px;
    }
    #likecontent{
        float: left;
        width: 400px;
        height: 700px;
        font-style: 標楷體;
    }
    #futureworld{
        text-align: center;
        font-size: 40px;
        padding: 50px 10px ;
        color:wheat;
    }
    #future{
        width: 100%;
        height: 900px;
        background-image: url('backgroundimg2.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
    #futurecontent{
        width: 500px;
        height: 100px;
        position: relative;
        float: right;
        top:170px;
        right: 250px;
        
        font-size: 30px;
        color: white;
    }


    #bottom{
        text-align: center;
        width: 100%;
        height: 250px;
        background-color:blueviolet;
    }
    #tableworld{
        position: relative;
        float: left;
        top: 10px;
        left: 720px;
        text-align: center;
        font-size: 28px;
        color: rgb(14, 11, 8);
    }
    .img2{
        position: relative;
        top: 40px;
        left:  180px;
        border-radius:5px; 
      }
    .img3{
        position: relative;
        top: 45px;
        left:90px;
        border-radius: 5px;
    }
    .img4{
        position: relative;
        top: 10px;
        left:  190px;
        border-radius:5px; 
      }
    .img5{
        position: relative;
        top: 320px;
        left:  -310px;
        border-radius:5px; 
    }
    .img6{
        position: relative;
        top: -590px;
        left:  300px;
        border-radius:5px; 
    }
    .img7{
        position: relative;
        top: 20px;
        left:  90px;
        border-radius:5px; 
    }